server:
  port: 0

spring:
  application:
    name: auth-microservice

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

bestpick:
  secretkey: ${LOCAL_SECRET_JWT_KEY}