spring:
  application:
    name: users-microservice

  datasource:
    url: jdbc:postgresql://localhost:5432/bestpick-users-db
    username: ${BESTPICK_LOCAL_USERSDB_USER}
    password: ${BESTPICK_LOCAL_USERSDB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop 
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

profileImageUploadPath: uploads/profile-images
