spring:
  application:
    name: users-microservice

  datasource:
    url: jdbc:postgresql://localhost:5432/bestpick-users-db
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: create-drop # TODO: quitar en produccion
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

profileImageUploadPath: uploads/profile-images
