spring:
  datasource:
    url: jdbc:postgresql://postgres-users:5432/bestpick-users-db
    username: ${POSTGRES_USERS_USER}
    password: ${POSTGRES_USERS_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka

profileImageUploadPath: uploads/profile-images
