spring:
    data:
        mongodb:
            uri: mongodb://mongo-text-posts:27018/text-posts-microservice
eureka:
    client:
        service-url:
            defaultZone: http://eureka:8761/eureka