services:

  ###############################################
  # Databases                                   #
  ###############################################

  #MySQL Databases Docker Compose config
  postgres-users:
    container_name: postgres-users
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: bestpick-users-db
      POSTGRES_USER: ${POSTGRES_USERSDB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_USERSDB_PASSWORD}
      PGDATA: /data/postgres
    volumes: 
      - ./postgres-users:/data/postgres
    expose: 
      - "5433"
    ports:
      - "5433:5433" 
    command: -p 5433

  #Mongo Databases Docker Compose config
  mongo-text-posts: 
    container_name: mongo-text-posts
    image: mongo:8.2.1
    restart: unless-stopped
    ports:
      - "27018:27018" 
    expose:
      - "27018"
    volumes:
      - ./mongo-data:/data/db

  #Neo4j Databases Docker Compose config
  neo4j-social-graph:
    image: neo4j:5
    container_name: neo4j-social-graph
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/${NEO4J_SOCIALGRAPHDB_PASSWORD}
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/logs:/logs
      - ./neo4j/plugins:/plugins
      - ./neo4j/import:/import


  ###############################################
  # Kafka                                       #
  ###############################################

  zookeeper: 
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    
  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: kafka-broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      # should change on real prod
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  ###############################################
  # Discovery and api gateway                   #
  ###############################################

  #Eureka discovery server
  eureka:
    image: m4gp13/discovery-server:${APP_VERSION}
    container_name: bestpick-discovery-server
    pull_policy: always
    ports: 
      - "8761:8761"
    expose:
      - "8761"
    environment:
      - SPRING_PROFILES_ACTIVE=${PROFILE}

  # Api gateway
  api-gateway: 
    image: m4gp13/api-gateway:${APP_VERSION}
    container_name: bestpick-api-gateway
    pull_policy: always
    ports: 
      - "8080:8000"
    expose:
      - "8080"
    environment:
      - SPRING_PROFILES_ACTIVE=${PROFILE}
    depends_on:
      - eureka

  ###############################################
  # Microservices                               #
  ###############################################

  # Auth service
  auth-service: 
    image: m4gp13/auth-service:${APP_VERSION}
    container_name: bestpick-auth-service
    pull_policy: always
    environment:
      - SPRING_PROFILES_ACTIVE=${PROFILE}
    depends_on:
      - eureka
      - api-gateway

  # Social graph microservice
  social-graph-microservice: 
    image: m4gp13/social-graph-microservice:${APP_VERSION}
    container_name: bestpick-social-graph-microservice
    pull_policy: always
    environment:
      - SPRING_PROFILES_ACTIVE=${PROFILE}
      - NEO4J_SOCIALGRAPHDB_PASSWORD=${NEO4J_SOCIALGRAPHDB_PASSWORD}
    depends_on:
      - eureka
      - api-gateway
      - neo4j-social-graph

  # Text posts microservice
  text-posts-microservice: 
    image: m4gp13/text-posts-microservice:${APP_VERSION}
    container_name: bestpick-text-posts-microservice
    pull_policy: always
    environment:
      - SPRING_PROFILES_ACTIVE=${PROFILE}
    depends_on:
      - eureka
      - api-gateway
      - mongo-text-posts

  # Users microservice
  users-microservice: 
    image: m4gp13/users-microservice:${APP_VERSION}
    container_name: bestpick-users-microservice
    pull_policy: always
    environment:
      - SPRING_PROFILES_ACTIVE=${PROFILE}
      - PROFILE_IMAGES_UPLOAD_PATH=${PROFILE_IMAGES_UPLOAD_PATH}
      - BESTPICK_LOCAL_USERSDB_USER=${BESTPICK_LOCAL_USERSDB_USER}
      - BESTPICK_LOCAL_USERSDB_PASSWORD=${BESTPICK_LOCAL_USERSDB_PASSWORD}
    depends_on:
      - eureka
      - api-gateway
      - postgres-users